.main-page {
    /* background-image: url(../images/undraw_sign_in_re_o58h.svg); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 250px;
}

.back-btn-and-title {
    display: flex;
    align-items: center;
}

.back-btn-and-title a {
    padding-right: 100px;
}

.admin-login-text {
    margin: auto;
}

.backgroung-img-login {
    position: absolute;
    z-index: -1;
    margin-top: 200px;
    height: 520px;
    left: 0;
    opacity: 0.5;
}

.form-div {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(162, 162, 162);
    padding: 30px;
    background-color: white;
}

.label {
    font-size: 20px;
    margin: 0;
}

.new-admin-label {
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-field {
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid rgb(204, 204, 204);
}

.login-btn {
    background-color: rgb(103, 94, 243);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.forgot-pass {
    text-decoration: none;
}

.register-btn {
    background-color: rgb(235, 233, 250);
    color: rgb(35, 35, 35);
    font-size: 20px;
    font-weight: 700;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.register-btn:hover {
    background-color: rgb(71, 62, 202);
    color: white;
}

.btn:hover {
    background-color: rgb(71, 62, 202);
}